<!DOCTYPE html>
<html>

<head>
    <link href="http://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body ng-app="FileApp">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand" href="#">
                    <h2>文件管理器</h2>

                    </a>
                </div>
            </div>
    </nav>

    <div class="container" ng-controller="filelist">
           <div class="input-group">
                    <input type="text" class="form-control" ng-model="currentPath">
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="OpenPath()">Go!</button>
                </span>
                </div>
        <div class="row">
            <div class=" col-md-8">
             
                <div class="panel panel-default">
                    <div class="panel-heading">文件列表</div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item  text-justify" ng-repeat="x in filelist" ng-click="Open(x)">
                                <i class=" fa fa-{{IconMaps[x.type]}}"></i> <small>{{x.name}}</small> 
                            </a>


                        </div>


                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">历史纪录</div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item text-justify" ng-repeat="x in last   track by $index" ng-click="Last(x)"><small>{{x}}</small> </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script>
        //设置服务器地址
        var serverUrl="http://localhost:3000";
        //angulerjs的模块和控制器设置
        var app = angular.module('FileApp', []);
        app.controller('filelist', function($scope,$http) {
            //设置将会用到的图标类型，不同的文件用不同的图标
            $scope.IconMaps={
                zip:"file-zip-o",
                txt:"file-text-o",
                mp4:"file-movie-o",
                xlsx:"file-excel-o",
                js:"file-code-o",
                cs:"file-code-o",
                html:"file-code-o",
                mp3:"file-audio-o",
                jpg:"file-image-o",
                jpeg:"file-image-o",
                png:"file-image-o",
                pdf:"file-pdf-o",
                doc:"file-word-o",
                dir:"folder-o",
                iso:"file-archive-o"
            };
            //初始化当前窗口需要显示的文件列表
            $scope.filelist=[];
            //初始化默认当前目录
            $scope.currentPath="D:/";
            //初始化历史纪录
            $scope.last=[];
            //打开某个路径时所执行的函数
            $scope.OpenPath=function(){
                //向某个地址post提交，当前目录
                $http.post(serverUrl+'/path',{uri:$scope.currentPath}).success(function(data){
                    //将成功获取的数据赋值给当前显示的文件列表
                        $scope.filelist=data;
                })
            }
            //打开文件列表中的某一项时执行的函数
            $scope.Open=function(x){
              //如果是目录
                if(x.type=="dir"){
                  //添加历史纪录
                  $scope.last.push($scope.currentPath);
                  //修改当前目录
                  $scope.currentPath= $scope.currentPath+x.name+"/"
                  //当前目录
                    $scope.OpenPath();
                }else{
                    //如果是文件，则打开那个文件
                    window.open(serverUrl+"/detail?uri="+$scope.currentPath+x.fullname);
                }

            }
            //返回某一个路径x
            $scope.Last=function(x){
                //将当前路径设置为x
                $scope.currentPath= x;
                //打开当前路径
                $scope.OpenPath();
            }
            //打开当前路径
            $scope.OpenPath();
        });
    </script>
</body>

</html>